<configuration>
  <packageSources>
    <add key="Telerik" value="https://nuget.telerik.com/v3/index.json" />
    <add key="nuGet" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <Telerik>
      <add key="Username" value="umang.bhatt@allscripts.com" />
      <add key="ClearTextPassword" value="Umang@123123" />
    </Telerik>
  </packageSourceCredentials>
</configuration>